/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
a:hover{
	font-style: italic;
}

	/* the styles for the header */
header h2 {
	font-size:170%;
	color:#800000;
	padding-left: 120px;
}
header h3{
	font-size:130%;
	font-style: italic;
	padding-left: 120px;
}
.shadow{
    text-shadow: 2px 2px 5px #800000;
}
header img {
	height: 80px;
	float: left;
}

/* the styles for the section */
main h1{
	font-size: 150%;
}
main h2{
	font-size: 130%;
	color: #800000;
}
main h3{
	font-size: 105%;
}
main {
	clear: left;
}

/* the styles for the footer */
footer p{
	text-align: center;
}